name: milk347

services:
  # Service A: เป็น Server หลัก (มีทั้ง gRPC และ REST)
  service_a:
    build:
      context: .
      dockerfile: service_a/Dockerfile
    ports:
      - "50051:50051" # พอร์ตสำหรับ gRPC
      - "8000:8000" # พอร์ตสำหรับ REST API

  # Service B: เป็น Client ที่ดึงข้อมูลผ่าน gRPC
  service_b:
    build:
      context: .
      dockerfile: service_b/Dockerfile
    ports:
      - "8001:8001" # พอร์ตสำหรับเข้าใช้งาน Service B
    depends_on:
      - service_a # รอให้ Service A รันก่อน
    environment:
      - GRPC_SERVER_HOST=service_a # บอกให้รู้ว่า Service A อยู่ที่ไหน (ใช้ชื่อ service ใน docker)

  # Service C: เป็น Client ที่ดึงข้อมูลผ่าน REST
  service_c:
    build:
      context: .
      dockerfile: service_c/Dockerfile
    ports:
      - "8002:8002" # พอร์ตสำหรับเข้าใช้งาน Service C
    depends_on:
      - service_a # รอให้ Service A รันก่อน
    environment:
      - SERVICE_A_HOST=service_a # บอกให้รู้ว่า Service A อยู่ที่ไหน
